/****** Object:  StoredProcedure [dbo].[ANONYMIZATION_REMOVESYMBOLS]    Script Date: 9/10/2014 3:05:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ANONYMIZATION_REMOVESYMBOLS]
AS

DECLARE @DEBUG INT = 0

/*
  DECLARE @SQL NVARCHAR(max) = ''
  SELECT @SQL = @SQL+' drop table ['+TABLE_NAME+']'+CHAR(13) FROM INFORMATION_SCHEMA.TABLES where  table_name NOT LIKE '%_TOANON' and table_name NOT LIKE 'ANON_%'  
  EXEC (@SQL)
*/

IF OBJECT_ID('ANON_LabelReplace') IS NOT NULL
	DROP TABLE ANON_LabelReplace

CREATE TABLE ANON_LabelReplace
(
	DTT_ID int IDENTITY(1,1),
	typeOfObject VARCHAR(500),
	original_name varchar(500),
	converted_name varchar(500),		
)

--------------------------------------------------------------------------------------------
--
-- Remove Symbols from table and column names
--
INSERT INTO ANON_LabelReplace (original_name,typeOfObject) (SELECT column_name, 'column' FROM ANON_Columns WHERE column_Randomize IS NULL )
INSERT INTO ANON_LabelReplace (original_name,typeOfObject) (SELECT column_name, 'column_Randomize' FROM ANON_Columns WHERE column_Randomize IS NOT NULL )
INSERT INTO ANON_LabelReplace (original_name,typeOfObject) (SELECT table_name, 'table' FROM ANON_tables)
INSERT INTO ANON_LabelReplace (original_name,typeOfObject) (SELECT DISTINCT column_group, 'NameChange' FROM ANON_Columns WHERE column_group IS NOT NULL AND LTRIM(RTRIM(column_group)) != '')




UPDATE ANON_LabelReplace set converted_name = original_name 

WHILE EXISTS
(
SELECT *
--converted_name
 FROM ANON_LabelReplace WHERE PATINDEX('%[^a-zA-Z0-9_]%', converted_name) <> 0
)
BEGIN
    UPDATE  ANON_LabelReplace
			SET converted_name = REPLACE(converted_name,SUBSTRING(converted_name,PATINDEX('%[^a-zA-Z0-9_]%',converted_name), 1), '_')
			FROM    ANON_LabelReplace
			WHERE   PATINDEX('%[^a-zA-Z0-9_]%', converted_name) <> 0
END

UPDATE ANON_LabelReplace SET converted_name = 'tmp_'+converted_name+'_TOANON2' FROM ANON_LabelReplace WHERE typeOfObject = 'table'

DECLARE @SQL NVARCHAR(max) = ''

SELECT 	@SQL = @SQL +' IF OBJECT_ID('''+REPLACE(converted_name, '''','''''')+''') IS NOT NULL
			DROP TABLE ['+converted_name+']'+CHAR(13)+ 

'		  SELECT * INTO ['+converted_name+'] FROM ['+original_name+']'+CHAR(13)
		FROM ANON_LabelReplace 
		WHERE typeOfObject = 'table'

IF @DEBUG > 0
	PRINT @SQL

EXEC(@SQL)



SET @SQL = ''

SELECT @SQL = @SQL+' EXEC sp_rename @objname = ''['+t1.TABLE_NAME+'].['+REPLACE(t1.COLUMN_NAME,'''','''''')+']'', @newname = '''+t2.converted_name+''', @objtype = ''COLUMN'' '+CHAR(13)
--t1.TABLE_NAME, t1.COLUMN_NAME, t2.converted_name 
FROM INFORMATION_SCHEMA.COLUMNS t1, ANON_LabelReplace t2, ANON_LabelReplace t3
		WHERE TABLE_NAME = t3.converted_name
		AND   t2.typeOfObject in ('column', 'column_Randomize')
		AND   t1.COLUMN_NAME = t2.original_name
		AND   t3.typeOfObject = 'table'
		AND   t2.original_name != t2.converted_name
	
IF @DEBUG > 0
	PRINT @SQL
EXEC (@SQL)

GO

/****** Object:  StoredProcedure [dbo].[ANONYMIZATION_CREATE_DYNAMIC_SCRIPTS]    Script Date: 9/10/2014 3:05:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[ANONYMIZATION_CREATE_DYNAMIC_SCRIPTS]
AS

----------------------------------------------------------------
--
-- Creat Dynamic script which performs the change
--

DECLARE @SQL_Data NVARCHAR(max) = ''

DECLARE @SQL NVARCHAR(max) = ''
DECLARE @SQL_part NVARCHAR(max) = ''
DECLARE @ID INT
DECLARE @ID_label NVARCHAR(MAX)
DECLARE @ID_label_Original NVARCHAR(MAX)
DECLARE @DEBUG_LEVEL INT = 0


UPDATE ANON_Columns SET v1 = 0
UPDATE ANON_Columns SET v1 = 1 WHERE column_Randomize IS NOT NULL

WHILE EXISTS(SELECT * FROM ANON_Columns WHERE v1 = 0)
BEGIN
	SELECT TOP 1 @ID = DTT_ID, @ID_label = column_name FROM ANON_Columns WHERE v1 = 0 ORDER BY DTT_ID

	SELECT @ID_label_Original = original_name FROM ANON_LabelReplace WHERE converted_name = @ID_Label 
	SET @ID_label_Original = ISNULL(@ID_label_Original, @ID_Label)

	SET @SQL_part = ''
	SELECT @SQL_part = @SQL_part+'union all select distinct ['+@ID_label+'] from ['+TABLE_NAME+'] '+CHAR(13) FROM INFORMATION_SCHEMA.COLUMNS t1
	WHERE t1.COLUMN_NAME = @ID_label
	AND EXISTS( SELECT 'x' FROM ANON_tables t2 WHERE t1.TABLE_NAME = t2.table_name)
	--AND 
		
	set @SQL = ''+	
		'	
		IF OBJECT_ID(''tempdb.dbo.#'+@ID_label+''') IS NOT NULL
			DROP TABLE #'+@ID_label+'
	

		CREATE TABLE #'+@ID_label+'
		(
			DTT_ID int IDENTITY(1,1),
			label varchar(100),
			label_DTT varchar(100),
		)
	
		'	

	SELECT @SQL = @SQL +' INSERT INTO #'+@ID_label+' (label)
SELECT DISTINCT ['+@ID_label+'] FROM 
(
'+LTRIM( SUBSTRING(@SQL_part, LEN('UNION all ')+1, LEN(@SQL_part)))+'
) t1
order by ['+@ID_label+']

create index IDX_1 on  #'+@ID_label+' (label)
update #'+@ID_label+' set label_DTT = '''+REPLACE(@ID_label_Original, '''', '''''')+' '' +replace(convert(varchar,cast(DTT_ID as money),1), ''.00'','''') --xxx1
'	


	IF @DEBUG_LEVEL > 0				
		PRINT @SQL+CHAR(13)					
	SET @SQL_Data = @SQL_Data+@SQL
	UPDATE ANON_Columns SET v1 = 1 WHERE DTT_ID = @ID
END
-------------------------------------------------------------------------------------------
--
--  Columns combine all labels in groups
--

DECLARE @ID_Group_label NVARCHAR(MAX)
DECLARE @ID_Group_label_Original NVARCHAR(MAX)



UPDATE ANON_Columns SET v1 = 0
UPDATE ANON_Columns SET v1 = 1 WHERE column_Randomize IS NOT NULL
UPDATE ANON_Columns SET v1 = 1 WHERE column_group = '' OR column_group IS NULL

WHILE EXISTS(SELECT * FROM ANON_Columns WHERE v1 = 0 AND column_group IS NOT null)
BEGIN
	SELECT TOP 1 @ID = DTT_ID, @ID_label = column_name, @ID_Group_label = column_group  FROM ANON_Columns WHERE v1 = 0 AND column_group IS NOT null ORDER BY DTT_ID

	SELECT @ID_Group_label_Original = original_name FROM ANON_LabelReplace WHERE converted_name = @ID_Group_label 
	SET @ID_Group_label_Original = ISNULL(@ID_Group_label_Original, @ID_Group_label)
	IF @ID_Group_label_Original = ''
		SET @ID_Group_label_Original = @ID_label
	

	set @SQL = ''+	
	'	
	IF OBJECT_ID(''tmp_tt'+CAST(@ID AS NVARCHAR(max))+''') IS NOT NULL
		DROP TABLE tmp_tt'+CAST(@ID AS NVARCHAR(max))+'
		

	CREATE TABLE tmp_tt'+CAST(@ID AS NVARCHAR(max))+'
	(
		DTT_ID int IDENTITY(1,1),
		label varchar(100),
		label_DTT varchar(100),
	)
		
	'	
	SET @SQL_part = ''
	SELECT @SQL_part = @SQL_part+'union all select distinct label as label from #'+column_name+' '+CHAR(13) 
	FROM ANON_Columns t1 WHERE column_group = @ID_Group_label		

	SELECT @SQL = @SQL +' INSERT INTO tmp_tt'+CAST(@ID AS NVARCHAR(max))+' (label)
	SELECT DISTINCT label FROM 
	(
	'+LTRIM( SUBSTRING(@SQL_part, LEN('UNION all ')+1, LEN(@SQL_part)))+'
	) t1
	order by [label] '+CHAR(13)


	SELECT @SQL = @SQL+' truncate table #'+column_name+' '+CHAR(13)+ 
	' insert into #'+column_name+' (label) (select label from tmp_tt'+CAST(@ID AS NVARCHAR(max))+') order by Label '+CHAR(13)+
	' alter index ALL on  #'+@ID_label+' REBUILD
	  update #'+column_name+' set label_DTT = '''+REPLACE(@ID_Group_label_Original, '''', '''''')+' ''+replace(convert(varchar,cast(DTT_ID as money),1), ''.00'','''') --xxx2
	'+CHAR(13)

	

	FROM ANON_Columns t1 
	WHERE column_group = @ID_Group_label		

	IF @DEBUG_LEVEL > 0				
		PRINT @SQL
	SET @SQL_Data = @SQL_Data+@SQL
	UPDATE ANON_Columns SET v1 = 1 WHERE column_group = @ID_Group_label
END

------------------------------------------------------------------------------------------
--
-- Insert Statments
--

UPDATE ANON_tables SET v1 = 0

WHILE EXISTS(SELECT * FROM ANON_tables WHERE v1 = 0)
BEGIN
	SELECT TOP 1 @ID = DTT_ID, @ID_label = table_name FROM ANON_tables WHERE v1 = 0 ORDER BY DTT_ID


	DECLARE @SQL_II NVARCHAR(max) = ''

	SELECT @SQL_II = @SQL_II + ','+ISNULL('#'+t2.column_name+'.label_DTT', 't0.['+t1.COLUMN_NAME+']')+' as '''+REPLACE(t1.COLUMN_NAME,'''' ,'''''')+''' '
	FROM INFORMATION_SCHEMA.COLUMNS t1
	LEFT JOIN ANON_Columns t2 
	ON	  t1.COLUMN_NAME = t2.column_name
	and   t2.column_Randomize IS NULL	
	WHERE TABLE_NAME = @ID_label
	

	SET @SQL_II = 'select '+SUBSTRING(@SQL_II, 2,LEN(@SQL_II))

	SET  @SQL_II = @SQL_II +CHAR(13)+ ' into '+REPLACE(@ID_label,'_TOANON2','_TOANON3')+' from '+@ID_label+' t0 '+CHAR(13)

	SELECT @SQL_II = @SQL_II+'left join #'+column_name+' on #'+column_name+'.label = t0.'+column_name +CHAR(13)
	FROM INFORMATION_SCHEMA.COLUMNS t1
	WHERE TABLE_NAME = @ID_label
	and EXISTS
	(
		SELECT column_name 
		FROM ANON_Columns t2 
		WHERE t1.COLUMN_NAME = t2.column_name	
		and   t2.column_Randomize IS NULL		
	)

	UPDATE ANON_tables SET v1 = 1 WHERE DTT_ID = @ID
	SET @SQL_II = 
		'
		IF OBJECT_ID('''+REPLACE(@ID_label,'_TOANON2','_TOANON3')+''') IS NOT NULL
			DROP TABLE '+REPLACE(@ID_label,'_TOANON2','_TOANON3')+'
		'+CHAR(13)+
		@SQL_II+CHAR(13) 
		
	IF @DEBUG_LEVEL > 0				
		SET @SQL_II = @SQL_II+ 
		' select top 100 * from '+REPLACE(@ID_label,'_TOANON2','_TOANON3')+' '
		
	IF @DEBUG_LEVEL > 0				
		PRINT @SQL_II
	SET @SQL_Data = @SQL_Data+@SQL_II


END




--------------------------------------------------------------------------------------------------------
--
-- Clean tmp_ tables up
--


UPDATE ANON_Columns SET v1 = 0
UPDATE ANON_Columns SET v1 = 1 WHERE column_Randomize IS NOT NULL

WHILE EXISTS(SELECT * FROM ANON_Columns WHERE v1 = 0 AND column_group IS NOT null)
BEGIN
	SELECT TOP 1 @ID = DTT_ID, @ID_label = column_name, @ID_Group_label = column_group  FROM ANON_Columns WHERE v1 = 0 AND column_group IS NOT null ORDER BY DTT_ID

	set @SQL = ''+	
	'	
	IF OBJECT_ID(''tmp_tt'+CAST(@ID AS NVARCHAR(max))+''') IS NOT NULL
		DROP TABLE tmp_tt'+CAST(@ID AS NVARCHAR(max))+' '
				
	IF @DEBUG_LEVEL = 0				
		SET @SQL_Data = @SQL_Data+@SQL
	UPDATE ANON_Columns SET v1 = 1 WHERE column_group = @ID_Group_label
END

EXEC (@SQL_Data)

--
-- drop '_TOANON2' tables
--

DECLARE @SQL_drop NVARCHAR(max) = ''
SELECT @SQL_drop = @SQL_drop+' drop table ['+TABLE_NAME+']' FROM INFORMATION_SCHEMA.TABLES where  table_name LIKE '%_TOANON2'
IF @DEBUG_LEVEL = 0	
	EXEC (@SQL_drop)

UPDATE ANON_LabelReplace SET converted_name = REPLACE(converted_name, '_TOANON2', '_TOANON3')





GO


/****** Object:  StoredProcedure [dbo].[ANONYMIZATION_APPLY_ORIGINAL_LABELS]    Script Date: 9/10/2014 3:05:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ANONYMIZATION_APPLY_ORIGINAL_LABELS] AS 



DECLARE @ERROR_FOUND INT = 0

	IF EXISTS
	(
		SELECT * 
		FROM INFORMATION_SCHEMA.COLUMNS t1, ANON_LabelReplace t2, ANON_LabelReplace t3, ANON_Columns c1
		WHERE TABLE_NAME = t3.converted_name
			AND   t2.typeOfObject = 'column_Randomize'
			AND   t1.COLUMN_NAME = t2.converted_name		
			AND   t3.typeOfObject = 'table'		
			AND   t1.COLUMN_NAME = c1.column_name
			AND DATA_TYPE NOT IN ('float', 'int', 'decimal')  

	)
	BEGIN
		SET @ERROR_FOUND = 1
		SELECT 'ERROR' AS Status, 'The following fields need to be converted into FLOAT, INT or DECIMAL before randomising.' AS Info		
		SELECT t1.column_name
		FROM INFORMATION_SCHEMA.COLUMNS t1, ANON_LabelReplace t2, ANON_LabelReplace t3, ANON_Columns c1
		WHERE TABLE_NAME = t3.converted_name
			AND   t2.typeOfObject = 'column_Randomize'
			AND   t1.COLUMN_NAME = t2.converted_name		
			AND   t3.typeOfObject = 'table'		
			AND   t1.COLUMN_NAME = c1.column_name
			AND DATA_TYPE NOT IN ('float', 'int', 'decimal')  
			ORDER BY 1
		SELECT 'ALTER TABLE [' + t3.original_name + '] ALTER COLUMN [' + t1.column_name + '] FLOAT' AS [Run these queries to rectify]
		FROM INFORMATION_SCHEMA.COLUMNS t1, ANON_LabelReplace t2, ANON_LabelReplace t3, ANON_Columns c1
		WHERE TABLE_NAME = t3.converted_name
			AND   t2.typeOfObject = 'column_Randomize'
			AND   t1.COLUMN_NAME = t2.converted_name		
			AND   t3.typeOfObject = 'table'		
			AND   t1.COLUMN_NAME = c1.column_name
			AND DATA_TYPE NOT IN ('float', 'int', 'decimal') 
	END  


	IF @ERROR_FOUND = 1
	BEGIN
	
		UPDATE ANON_tables SET table_name = table_name_original, v1 = NULL 
		UPDATE ANON_columns SET v1 = NULL 
		
		RETURN
  
	END   

DECLARE @DEBUG INT = 0

UPDATE ANON_LabelReplace SET original_name = original_name
UPDATE ANON_LabelReplace SET original_name = 'ANON_' + REPLACE(original_name, 'RAW_', '') WHERE typeOfObject = 'table'


DECLARE @SQL NVARCHAR(max) = ''

SET @SQL = ''

SELECT @SQL = @SQL+' update ['+t1.TABLE_NAME+'] set ['+t2.converted_name+'] =  (['+t2.converted_name+']*1.0)*(('+CAST(column_Randomize_max AS NVARCHAR(max))+' - ('+CAST(column_Randomize_min AS NVARCHAR(MAX))+')) * (ABS(CAST(NEWID() AS binary(6)) %1000)/1000.0) + ('+CAST(column_Randomize_min AS NVARCHAR(max))+')) '+CHAR(13)

FROM INFORMATION_SCHEMA.COLUMNS t1, ANON_LabelReplace t2, ANON_LabelReplace t3, ANON_Columns c1
		WHERE TABLE_NAME = t3.converted_name
		AND   t2.typeOfObject = 'column_Randomize'
		AND   t1.COLUMN_NAME = t2.converted_name		
		AND   t3.typeOfObject = 'table'		
		AND   t1.COLUMN_NAME = c1.column_name
		and   c1.column_Randomize = 'MultiplyByAValue'
		AND DATA_TYPE IN ('float', 'int', 'decimal')       


SELECT @SQL = @SQL+' update ['+t1.TABLE_NAME+'] set ['+t2.converted_name+'] =  (('+CAST(column_Randomize_max AS NVARCHAR(max))+' - ('+CAST(column_Randomize_min AS NVARCHAR(MAX))+')) * (ABS(CAST(NEWID() AS binary(6)) %1000)/1000.0) + ('+CAST(column_Randomize_min AS NVARCHAR(max))+')) '+CHAR(13)
FROM INFORMATION_SCHEMA.COLUMNS t1, ANON_LabelReplace t2, ANON_LabelReplace t3, ANON_Columns c1
		WHERE TABLE_NAME = t3.converted_name
		AND   t2.typeOfObject = 'column_Randomize'
		AND   t1.COLUMN_NAME = t2.converted_name		
		AND   t3.typeOfObject = 'table'		
		AND   t1.COLUMN_NAME = c1.column_name
		and   c1.column_Randomize = 'RandomValue'
		AND DATA_TYPE IN ('float', 'int', 'decimal')  


IF @DEBUG > 0
	PRINT @SQL

EXEC (@SQL)



---------------------------------------------------
-- Insert into the final table ('ANON_...' table)
---------------------------------------------------

SELECT 	@SQL = @SQL +' IF OBJECT_ID('''+REPLACE(original_name, '''','''''')+''') IS NOT NULL
			DROP TABLE ['+original_name+']
		  SELECT * INTO ['+original_name+'] FROM ['+converted_name+']'+CHAR(13)+CHAR(13)
		FROM ANON_LabelReplace 
		WHERE typeOfObject = 'table'


IF @DEBUG > 0
	PRINT @SQL
EXEC(@SQL)



---------------------------------------------------
-- Rename columns
---------------------------------------------------

SET @SQL = ''

SELECT @SQL = @SQL+' EXEC sp_rename @objname = ''['+REPLACE(t1.TABLE_NAME, '''','''''')+'].['+REPLACE(t2.converted_name,'''','''''')+']'', @newname = '''+REPLACE(t2.original_name,'''','''''')+''', @objtype = ''COLUMN'' '+CHAR(13)
--t1.TABLE_NAME, t1.COLUMN_NAME, t2.converted_name 
--SELECT t1.TABLE_NAME,t2.converted_name, t2.original_name
FROM INFORMATION_SCHEMA.COLUMNS t1, ANON_LabelReplace t2, ANON_LabelReplace t3
		WHERE TABLE_NAME = t3.original_name
		AND   t2.typeOfObject IN (  'column', 'column_Randomize')
		AND   t1.COLUMN_NAME = t2.converted_name
		AND   t3.typeOfObject = 'table'
		AND   t2.original_name != t2.converted_name

IF @DEBUG > 0	
	PRINT @SQL

EXEC (@SQL)



---------------------------------------------------
-- Drop temp tables
---------------------------------------------------

DECLARE @SQL_drop NVARCHAR(max) = ''
SELECT @SQL_drop = @SQL_drop+' drop table ['+TABLE_NAME+']' FROM INFORMATION_SCHEMA.TABLES where  table_name LIKE '%_TOANON3'
IF @DEBUG = 0	
	EXEC (@SQL_drop)


GO

/****** Object:  StoredProcedure [dbo].[ANONYMIZATION_PROCESS_DATA]    Script Date: 9/10/2014 3:05:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ANONYMIZATION_PROCESS_DATA]
AS

SET NOCOUNT ON


---------------------------------------------------
-- Check if the database has been set up correctly for anonymising tables
---------------------------------------------------

DECLARE @ERROR_FOUND INT = 0

	IF EXISTS
	(
		SELECT * FROM ANON_tables t1
			WHERE NOT EXISTS
			( SELECT TOP 1 1 FROM INFORMATION_SCHEMA.tables t2 WHERE t1.table_name = t2.TABLE_NAME	)
	)
	BEGIN
		SET @ERROR_FOUND = 1
		SELECT 'ERROR' AS Status, 'The following tables do not exists in the database.' AS Info		
		SELECT  table_name FROM ANON_tables t1
			WHERE NOT EXISTS
			( SELECT TOP 1 1 FROM INFORMATION_SCHEMA.tables t2 WHERE t1.table_name = t2.TABLE_NAME	)  
			ORDER BY 1
	END  

	IF EXISTS(
		SELECT * FROM ANON_Columns t3
		WHERE NOT EXISTS
		(
			SELECT TOP 1 1
			FROM    INFORMATION_SCHEMA.COLUMNS t1
					JOIN ANON_tables t2 ON t1.TABLE_NAME = t2.table_name
					WHERE t1.COLUMN_NAME = t3.column_name
		)
	)
	BEGIN
		SET @ERROR_FOUND = 1

		SELECT 'ERROR' AS Status, 'The following columns could not be found in tables that will be anonymized.' AS Info		
		SELECT column_name FROM ANON_Columns t3
		WHERE NOT EXISTS
		(
			SELECT TOP 1 1
			FROM    INFORMATION_SCHEMA.COLUMNS t1
					JOIN ANON_tables t2 ON t1.TABLE_NAME = t2.table_name
					WHERE t1.COLUMN_NAME = t3.column_name		
		)
		ORDER BY 1
		SELECT table_name AS 'Tables to be anonymized' FROM ANON_tables ORDER BY 1


	END
    
	IF @ERROR_FOUND = 1
	BEGIN
  
		--IF OBJECT_ID('ANON_Columns') IS NOT NULL 
		--		DROP TABLE ANON_Columns

		--IF OBJECT_ID('ANON_tables') IS NOT NULL 
		--		DROP TABLE ANON_tables

		IF OBJECT_ID('ANON_LabelReplace') IS NOT NULL 
				DROP TABLE ANON_LabelReplace

    
		RETURN
  
	END      
  
UPDATE ANON_Columns SET column_group  = '' WHERE column_group is NULL
  


---------------------------------------------------
-- Get none symbole/ white space entries from labels and apply 
---------------------------------------------------

EXEC ANONYMIZATION_REMOVESYMBOLS



---------------------------------------------------
-- Check if renaming has broken 1-1 relationship
---------------------------------------------------

IF 
(
	(SELECT COUNT(DISTINCT original_name) FROM ANON_LabelReplace WHERE typeOfObject = 'column') !=
	(SELECT COUNT(DISTINCT converted_name) FROM ANON_LabelReplace WHERE typeOfObject = 'column')
)
BEGIN
	SELECT 'ERROR' AS 'Status', 'Removal of symbols has resulted in 1-1 relationship to be brocken.'
	return
END

UPDATE ANON_tables SET table_name = t2.converted_name FROM ANON_tables t1 JOIN  ANON_LabelReplace t2 ON t1.table_name = t2.original_name WHERE t2.typeOfObject = 'table'

--SELECT *
UPDATE ANON_Columns SET column_name = t2.converted_name 
FROM ANON_Columns t1 JOIN  ANON_LabelReplace t2 ON t1.column_name = t2.original_name WHERE t2.typeOfObject in ('column', 'column_Randomize')

--SELECT *
UPDATE ANON_Columns SET column_group = t2.converted_name 
FROM ANON_Columns t1 JOIN  ANON_LabelReplace t2 ON t1.column_group = t2.original_name WHERE t2.typeOfObject = 'NameChange'



---------------------------------------------------
-- Generate Dynamic conversion code 
--
--   Input:
--		ANON_LabelReplace,ANON_tables,ANON_Columns
--
--   Output:
--
---------------------------------------------------

EXEC ANONYMIZATION_CREATE_DYNAMIC_SCRIPTS



---------------------------------------------------
-- Convert '_TOANON3' tables to original table and column names.
---------------------------------------------------

EXEC ANONYMIZATION_APPLY_ORIGINAL_LABELS



---------------------------------------------------
-- Create select statments
---------------------------------------------------

SELECT ' select * from [dbo].['+original_name+'] ' AS 'Anonymized Tables' FROM ANON_LabelReplace WHERE typeOfObject = 'table' ORDER BY original_name



---------------------------------------------------
-- Reset prep tables
---------------------------------------------------

UPDATE ANON_tables SET table_name = table_name_original, v1 = NULL 
UPDATE ANON_columns SET v1 = NULL 




GO
