-- Get (nearly) Random sample of GNAF Address points
-- Original test data for testing that isochrone catchments build correctly with new Road network in Tactician.


-- Only need to do this again if new version of the database without an Identity column
CREATE TABLE [dbo].[AllGNAF_FlatFile_ID](
    RowId INT IDENTITY(1,1) NOT NULL, 
	[address_detail_pid] [varchar](15) NULL,
	[level] [varchar](30) NULL,
	[HAB_Addr1] [varchar](45) NULL,
	[locality_name] [varchar](100) NULL,
	[state_abbreviation] [varchar](3) NULL,
	[clean_pc] [varchar](200) NULL,
	[latitude] [numeric](11, 8) NULL,
    [longitude] [numeric](12, 8) NULL,
	[dpid] [varchar](8) NULL
) ON [PRIMARY]

INSERT INTO [AllGNAF_FlatFile_ID]
([address_detail_pid]
       ,[level]
      ,[HAB_Addr1]
      ,[locality_name]
	  ,state_abbreviation
      ,[clean_pc]
      ,[latitude]
      ,[longitude]
	  ,DPID
)
SELECT [address_detail_pid]
       ,[level]
      ,[HAB_Addr1]
      ,[locality_name]
	  ,state_abbreviation
      ,[clean_pc]
      ,[latitude]
      ,[longitude]
	  ,DPID
FROM AllGNAF_FlatFile
-------------------------------------------

-- Get every 100,000th record
select *
from AllGNAF_FlatFile_ID
where RowId % 100000 = 0
-- returns 136 rows from GNAF August 2015

